In [1]:
import pandas

In [1]:
!pip3 install mysql-connector-python
import mysql.connector

Requirement already satisfied: mysql-connector-python in c:\scraped_data\.venv\lib\site-packages (9.0.0)

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  #database='joins'  
)

print(mydb)

mycursor = mydb.cursor(buffered=True)

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000258E5772AB0>
('information_schema',)
('mdt39',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('practice',)
('practice1',)
('pymysql',)
('red_bus',)
('redbus',)
('t1',)
('test',)

In [8]:
mycursor.execute("CREATE DATABASE Red_Bus")

In [6]:
mycursor.execute("USE redbus")

In [5]:
mycursor.execute("""
CREATE TABLE Bus_details (
    Id INT AUTO_INCREMENT PRIMARY KEY,
    Route_name TEXT, 
    Route_link TEXT, 
    Bus_name TEXT, 
    Bus_type TEXT, 
    Departing_time VARCHAR(255), 
    Duration TEXT, 
    Reaching_time VARCHAR(255), 
    Star_rating FLOAT, 
    Price FLOAT, 
    Seat_availability INT
    )
    """)

In [7]:
import pandas as pd 

df1 = pd.read_csv("ap_bus_details.csv")
df2 = pd.read_csv("assam_bus_details.csv")
df3 = pd.read_csv("chandigarh_bus_details.csv")
df4 = pd.read_csv("himachal_bus_details.csv")
df5 = pd.read_csv("kerala_bus_details.csv")
df6 = pd.read_csv("rajasthan_bus_details.csv")
df7 = pd.read_csv("Telangana_bus_details.csv")
df8 = pd.read_csv("up_bus_details.csv")
df9 = pd.read_csv("wb_bus_details.csv")
df10 = pd.read_csv("jk_bus_details.csv")

csv_files = ["ap_bus_details.csv", "assam_bus_details.csv", "chandigarh_bus_details.csv", "himachal_bus_details.csv", "kerala_bus_details.csv","rajasthan_bus_details.csv", "Telangana_bus_details.csv", "up_bus_details.csv", "wb_bus_details.csv",  "jk_bus_details.csv"]   

# Read each CSV file into a DataFrame and store it in a list
df = [pd.read_csv(file) for file in csv_files]

# Concatenate all DataFrames in the list
combined_df = pd.concat(df, ignore_index=True)

combined_df.to_csv("bus_routes.csv", index=False)


for i in range(len(combined_df)):
    mycursor.execute("""INSERT INTO  bus_details(Route_name, Route_link, Bus_name, Bus_type, Departing_time, Duration, Reaching_time, Star_rating, Price, Seat_availability)    
    values (%s, %s, %s, %s, %s, %s, %s, %s, %s,%s)""", [combined_df["Route_Name"].loc[i], combined_df["Route_Link"].loc[i], combined_df["Bus_Name"].loc[i], combined_df["Bus_Type"].loc[i], combined_df["Departing_Time"].loc[i], combined_df["Duration"].loc[i], combined_df["Reaching_Time"].loc[i], float(combined_df["Star_Rating"].loc[i]), combined_df["Price"].loc[i], combined_df["Seat_Availability"].loc[i]])
    mydb.commit()
mycursor.close()

True

In [10]:
import pandas

In [3]:
pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10], axis=0)

,Route_Name,Route_Link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2678,NIGHT RIDER (SEATER CUM SLEEPER),20:00,07h 00m,03:00,3.5,INR 639,26 Seats available
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2688,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",20:00,06h 45m,02:45,4.2,INR 469,22 Seats available
2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3622,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",20:00,07h 35m,03:35,4.3,INR 436,33 Seats available
3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4880,STAR LINER(NON-AC SLEEPER 2+1),20:00,06h 45m,02:45,3.9,INR 607,25 Seats available
4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2786,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",20:00,07h 45m,03:45,3.9,INR 469,27 Seats available
...,...,...,...,...,...,...,...,...,...,...
67,Chandigarh to Jammu (j and k),https://www.redbus.in/bus-tickets/chandigarh-t...,Maheshwaram Travels,A/C Seater / Sleeper (2+2),21:00,10h 35m,07:35,1.0,626,28 Seats available
68,Chandigarh to Jammu (j and k),https://www.redbus.in/bus-tickets/chandigarh-t...,SWAGATAM TOUR HOLIDAY,A/C Sleeper (2+2),23:00,07h 00m,06:00,0.0,INR 1999,42 Seats available
69,Chandigarh to Jammu (j and k),https://www.redbus.in/bus-tickets/chandigarh-t...,SWAGATAM TOUR HOLIDAY,A/C Sleeper (2+2),23:59,07h 01m,07:00,0.0,INR 1599,42 Seats available
70,Chandigarh to Jammu (j and k),https://www.redbus.in/bus-tickets/chandigarh-t...,Comfort Tour and Travels,A/C Seater / Sleeper (2+2),20:20,07h 10m,03:30,0.0,INR 3000,54 Seats available
71,Chandigarh to Jammu (j and k),https://www.redbus.in/bus-tickets/chandigarh-t...,Comfort Tour and Travels,A/C Seater / Sleeper (2+2),21:50,07h 10m,05:00,0.0,INR 3000,52 Seats available